*{
	margin: 0;
	padding: 0;
}
img{
	max-width: 100%;
}
.left{
	float: left;
}
.right{
	float: right;
}
.center{
	margin: 0 auto;
}
a{
	-webkit-transition: .3s;
	-o-transition: .3s;
	transition: .3s;
}
a:hover{
	text-decoration: none;
}
.header-area{
	/*background: #ddd;*/
	border-bottom: 1px solid #ddd;
}
.header-left h2 span{
	font-size: 36px;
	font-weight: bold;
	color: #0149a1;
	margin-right: 10px;

}
.header-left h2{
	font-size: 36px;
	color: #0149a1;
}
.main-menu{
	text-align: right;
}
.main-menu ul{
	display: inline-block;
	font-size: 20px;
}
.main-menu ul li{
	display: inline-block;
}
.main-menu ul li.active{
	
}
.main-menu ul > li a{
	text-decoration: none;
	padding: 0 20px;
	/*margin: 20px;*/
	/*line-height: 50px;*/
	color: #5d6981;
	display: inline-block;
	line-height: 50PX;
}
.main-menu ul li.fb{
	border: 1px solid #ddd;
	border-radius: 50%;
	padding: 0;
	display: inline-block;
}
.main-menu ul li.twit{
	border: 1px solid #ddd;
	border-radius: 50%;
	display: inline-block;
}
.banner-area{
	text-align: center;
}
.banner-area h1{

	font-size: 72px;
	font-weight: bold;
	margin-top: 130px;
	color: #0149a1;
}
.banner-area h5{
	font-size: 32px;
	color: #5d6981;
}
.banner-area p{
	background: #ff2d55;
	display: inline-block;
	padding: 22px 65px;
	color: #fff;
	border-radius: 35px;
	font-size: 18px;
	margin: 110px 0;
}
/*promotions area*/
.promotion-area{
	text-align: center;
}
.promotion-area h2{
	font-weight: bold;
	font-size: 30px;
}
.promotion-area p{
	font-size: 18px;
}
.template-area{
	background-image: url(../img/template.png);
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	min-height: 600px;

}



.header-area{
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	z-index: 99999;
	background: #fff;
	display: none;
}

.banner-area {
    text-align: center;
    /*margin-top: 69px;*/
}
/*promotions area*/

.promotion-area{
	margin-bottom: 130px;
}




/*work area*/


.work-area{
	background: #0149a1;
}
.work-area-top h2{
	/*font-weight: bold;*/
	font-size: 72px;
	text-align: center;
	color: #fff;
	margin-top: 126px;
}
.work-area-top p{
	font-size: 36px;
	color: #5483bb;
	text-align: center;
	margin-bottom: 100px;
}
.work-area-middle p{
	color: #fff;
	margin: 20px;

}
.work-area-bottom p{
	display: inline-block;
	text-align: center;
	background: #fff;
}
.work-area-bottom{}

.btn-pax{
	display: inline-block;
	width: 240px;
	height: 60px;
	line-height: 60px;
	border-radius: 50px;
	-webkit-box-shadow: 2px 3px 5px #000;
	box-shadow: 2px 3px 5px #000;
}

.btn-white{
	background: #fff;
	
}

.work-area-bottom{
	padding: 97px 0 127px 0 ;
}

/*testimonial-area*/
.testimonial-area{
	text-align: center;
	margin-top: 100px;
	margin-bottom: 200px;
}
.testimonial-area h5{
	margin: 50px 0;

}

.testimonial-area.reviewer a{}



/*team-area*/
 .team-area-top{
	text-align: center;
	margin-bottom: 100px;

}
.team-area-top h2{
	font-size: 72px;
	color: #0149a1;
	font-weight: bold;
}
.team-area-top p{
	font-size: 36px;
	color: #7c8ca0;
}
.team-area-middle{
	text-align: center;
}



.btn-pax.btn-red{
	background: #ff2d54;
	color: #fff;
	margin-top: 90px;
	margin-bottom: 120px;

}
/*FOOTER-AREA*/

.footer-area{
	background: #0149a1;
	color: #fff;
	font-size: 18px;
}
.footer-top{
	padding-top: 90px;
	padding-bottom: 130px;
}
.footer-bottom{
	padding-bottom: 130px;
	text-align: center;
	min-width: 100px;
	/*display: inline-block;*/
}
.footer-bottom a{
	color: #fff;
	font-weight: bold;
}
.social-icon{
	font-size: 50px;
	color: #ff2d55;
}

.single-slider{
	max-width: 650px;
	margin: 0 auto;
}